html, body, #manager {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  margin: 0;
  border: 0;
  padding: 0;

  /* --- 覆盖 #shadcn/style.css 默认样式 --- */
  background: transparent;
}

/* :root 设置的以下属性被用户代理样式表覆盖，原因未知 */
* {
  font-family: 'MiSansVF';
  font-weight: 300;
}

:root {
  user-select: none;

  --bg-dark: hsla(0, 0%, 80%, 0.85);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --shadow-s:
    inset 0 1px 2px #FFFFFF30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;

  --shadow-m:
    inset 0 1px 2px #FFFFFF50,
    0 2px 4px #00000030,
    0 4px 8px #00000015;

  --shadow-l:
    inset 0 1px 2px #FFFFFF70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;

  --aside-width: 210px;
  --header-height: 42px;  /* 跟 Aside 顶部 LOGO 高度相等 */

  --content-padding: 10px;  /* DOM 顺序：.article > Scrollbar > .content */
}
