:root {
  --deskset-text-color: hsl(0, 0%, 30%);
  --deskset-text-size: 16px;
  --deskset-text-sharp-color: hsl(0, 0%, 5%);
  --deskset-text-sharp-size: 18px;
}

.deskset-text {
  color: var(--deskset-text-color);
  font-size: var(--deskset-text-size);
}
.deskset-text-title {
  color: var(--deskset-text-sharp-color);
  font-size: var(--deskset-text-sharp-size);
}
// 小字注释：在正文结尾右上角作补充说明
.deskset-text-caption {
  position: relative;
  left: 5px;
  top: -2px;
  color: var(--el-color-primary);
  font-size: calc(var(--deskset-text-size) - 2px);
}

.deskset-com-text {
  color: var(--deskset-text-sharp-color);
  font-size: var(--deskset-text-size);
}
.deskset-com-text-title {
  color: var(--deskset-text-sharp-color);
  font-size: var(--deskset-text-sharp-size);
}
