@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('../fonts/AlibabaPuHuiTi-3-55-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rany';
  src: url('../fonts/Rany.otf');
  font-weight: normal;
  font-style: normal;
}
