.el-bubble-list-wrapper {
  max-height: var(--el-bubble-list-max-height);
}

.el-bubble-list {
  .el-bubble-end {
    width: 80%;
    margin-left: auto;
    .el-bubble-content-wrapper {
      width: 100%;
    }
  }
  .el-bubble-start {
    width: 80%;
    .el-bubble-content-wrapper {
      width: 100%;
    }
  }

  code {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
