@import '#manager/style.less';

.el-sender-wrap {
  .el-sender {
    .el-sender-content {
      position: relative;
      width: 100%;
      .el-sender-action-list {
        position: absolute;
        right: 3px;
        bottom: 3px;
      }
    }
  }
}
