@import '#manager/style.less';

.el-button,
.el-button:hover,
.el-button:active {
  // 去掉 ElButton 默认间隔
  &+.el-button {
    margin: 0;
  }

  /* --- 自定义样式 --- */
  padding: 0px 12px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  border: none;
  border-radius: 0;
  .deskset-com-text();
  transition: .3s;
}

.el-button {
  &:hover {
    box-shadow: var(--shadow-s);
  }
  &:active {
    box-shadow: var(--shadow-m);
  }
}
