.el-table {
  --el-fill-color-light: var(--el-color-primary-light-9);

  .cell {
    color: var(--text);
    font-size: var(--text-size);
    overflow: visible;
  }
  .el-table__header {
    .cell {
      color: var(--text-sharp);
    }
  }
}
