* {
  --dsw-background-color: hsl(200, 10%, 90%);
  --dsw-border-color: #FFF;
}

.dsw-box {
  background: hsla(from var(--dsw-background-color) h s l / .9);
  border: solid 1px var(--dsw-border-color);
}
