@import './style/layout.less';

html,
body,
#app {
  width: 100vw;
  height: 100vh;

  overflow: hidden; // 隐藏溢出

  margin: 0;
  border: 0;
  padding: 0;
}

/* ==== Material Symbols 基础样式 ==== */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle;
  user-select: none;
}
