html, body, #manager {
  width: 100vw;
  height: 100vh;

  margin: 0;
  border: 0;
  padding: 0;

  /* --- 覆盖 #shadcn/style.css 默认样式 --- */
  background: transparent;
}

* {
  font-family: 'DefaultFont';
}
